nav{
    background-color: white;
    color: black;
    height: 130px;
}
body{
    background-color: #bdbdbd;
}
.container{
    background-color: #eeeeee;
}
.main{
    margin-top: 10px;
}
.tabs .tab a:visited{
    color:  rgba(0,255,0,1);
    background-color: rgba(255,255,255,1);
}
.tabs .indicator{
    color:  rgba(0,255,0,1);
    background-color: rgba(0,255,0,1);
}
.tabs .tab a{
    background-color: rgba(255,255,255,1);
    color:  rgba(0,255,0,1);
}
.tabs .tab a.active, .tabs .tab a:hover .tabs .tab a:focus{
    color:  rgba(0,255,0,1);
    background-color: rgba(255,255,255,1);
}

footer.page-footer{
    background-color: white;
    color: black;
    padding-left: 10px;
}
#footer{
    margin-bottom: 20px;
}
label{
    color: black;
}
#swipe-2{
   height: 50vh;
}
#swipe-1{
    height: 50vh;
}
.card-panel{
    padding: 0px;
    margin-right: 10px;
    width: 200px;
}
.row .col.s2{
    width: 33.3%;
    padding-top: 20px;
}
.row .col.s10{
    width: 66.6%;
}
.col .row{
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}
#timer{
    font-size: 50px;
    text-align: center;
}
.btn{
    background-color:  rgba(0,255,0,1);
    font-size: 20px;
}
#loginButton{
    float: right;
    background-color:  rgba(0,255,0,1);
    font-size: 10px;
    margin-right: 10px;
}
#submit{
    margin: 0 10px 10px 0;
    font-size: 15px;
}
#new-account, #reset-account{
    padding: 10px;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked{
    position: relative;
}
.carousel .carousel-item{
    width:100%;
}

.nav-wrapper{
    padding-top: 10px;
}
.material-icons{
    font-size: 40px;
}

.logo {
	position: relative;
	display: block;
	width: 100px;
	height: 100px;
	background: rgba(255,255,255,1); 
	transition: all 368ms ease-in 0s;
}
.logo__worm {
	position: absolute;
	display: block;
	width: 100px;
	height: 100px;
	background:#218715;
	border-radius: 50%;
}
.logo__worm-eye{
	position: absolute;
	width: 100px;
	height: 100px;
	background: white;
	border-radius: 50%;
}
.logo__worm-eye--1{
	left: -60px;
}
.logo__worm-eye--2 {
	right: -60px;
}
.logo__pupil {
	position: absolute;
	width: 30px;
	height: 30px;
	background: rgba(0,255,0,1);
	border-radius: 50%;
	top: 45px;
	transition: all 368ms  ease-in 0s;
}
.logo__pupil--1 {
	left: 0;
}
.logo__pupil--2 {
	right: 0;
}
@media only screen and (max-width: 773px){
    .card-panel{
        width: 150px;
    }
}
@media only screen and (max-width: 660px) {
    .card-panel{
        width: 100px;
    }
}