nav{
    background-color: white;
    color: black;
}
    
a.brand-logo{
    color: black;
}
.page-footer{
    background-color: white;
    border: 2px solid black;
    color: black;
}
#swipe-2{
    border: 2px solid black;
    height: 60vh;
}
#swipe-1{
    border: 2px solid black;
    height: 60vh;
}
li{
    color: black;
    border: 2px solid black;

}
.tabs .tab a{
    color: black;
}

#progressBars{
    border: 1px solid black;
    height: 200px;
    margin-top: 100px;
}
#timer{
    border: 1px solid black;
    height: 200px;
    margin-top: 100px;
}
.carousel .carousel-item{
    width:100%;
  }